* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
@font-face {
    font-family: myFirstFont;
    src: url(Norse-Bold.otf);
  }
.main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left{
    width: 42vw;
    background-image: url("1.jpg") ;
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
}
.right{
    width: 58vw;
    background-color: rgba(245, 245, 245, 0.677);
    padding-top: 50px   ;
}

img{
    height:min(90px,10vh);
    width:min(90px,10vw);
    padding-top: 10px;
}
.odin{
    margin-top: 22vh;
    justify-content: center;
    display: flex;
    color: azure;
    font-family: myFirstFont;
    background-color: rgba(1, 1, 1, 0.537);
    column-gap: 1px;
    text-align: center;
    align-items: center;
    font-weight: 900;
    font-size: larger;
    padding-bottom: 10px;

}
input, label {
    display:block;
}
.names{
    display: flex;
    column-gap: 30px;
    padding-top: 12px;
}

a{
    color: rgb(106, 166, 106);
    text-decoration: none;
 }
 button{
    border-radius: 5px;
    height: 30px;
    width: 150px;
    color: white;
    background-color: rgb(42, 90, 42);
    margin-bottom: 30px;

    
 }

form{
   margin-top: 30px;
   
}
.box{
    background-color: white;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.119);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.top{
    margin-top: 60px;
    padding-left: 20px;
    font-weight: 800;
}
.bot{
    padding-left: 20px;
    margin-top: 30px;
}
form p1 {
    font-weight: 800;
    font-size: larger;
}

input[type = "password"]:invalid {
    border-color: red;
  }

input:focus {
    border-color: rgb(255, 0, 230);
    border: dashed;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.119);

  }
